*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../image/H0f8Rj4.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}